.title-stroke {
    -webkit-text-stroke: 3px black;
  }
  .subtitle-stroke {
    -webkit-text-stroke: 2px black;
  }
  .subtitle-stroke-white {
    -webkit-text-stroke: 2px white;
  }
  .skills-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  
  .skill-category {
    flex: 1;
    margin: 0 15px;
  }
  
  h3 {
    font-weight: bold;
    font-size: 0.9rem;
    color: #545454;
  }
  
  ul {

    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    color: #71717a;
    font-size: 12px;
  }
  