<!-- <div class="p-8 h-full overflow-auto">
    <div class="flex items-center gap-4 h-7 mb-10">
        <h2 class="font-bold text-3xl leading-[0px]">About</h2>
        <hr class="my-auto border-2 border-[#33A4F5]  w-40">
    </div>
    <div class="block gap-5">
        <p>I'm a Frontend Developer with a focus on building responsive, user-friendly interfaces that bring designs to
            life.
            With a solid foundation in UX design, I work closely with teams to create products that are both visually
            appealing and intuitive to use.
            My skill set includes JavaScript, HTML/CSS, and modern frameworks like Angular/React, allowing me to craft
            seamless user experiences across devices.
            <br><br>
            She is a hardworking and self-motivated professional with excellent research and communication skills. She
            is enthusiastic and eager to learn new things and always does her best.
        </p>
        <div class="mt-10">
            <h2 class="text-xl font-semibold">What I do</h2>
            <div class="grid grid-cols-2 gap-5 mt-10 text-sm">
                <div class="w-full bg-blue-100 p-4 rounded-md">
                    <h4 class="font-semibold">Frontend Development</h4>
                    <p class="text-xs mt-3"> I also work on the frontend development side, turning designs into functional, high-performance
                        interfaces.
                        I collaborate closely with designers and UX specialists to ensure that every detail—from layout
                        to interactions—is implemented seamlessly and with precision.</p>
                </div>
                <div class="w-full bg-red-100 p-4 rounded-md flex gap-3">
                    <div>
                        <h4 class="font-semibold">UX Researcher</h4>
                        <p class="text-xs mt-3">As a UX Designer, I focus on creating intuitive and user-centered digital experiences that
                            combine functionality with aesthetics.
                            From initial research and usability testing, I ensure that every design decision is informed
                            by the needs and behaviors of real users.</p>
                    </div>

                </div>
                <div class="w-full bg-blue-100 p-5 rounded-md">
                    <h4 class="font-semibold">Enhancing Development with CI/CD</h4>
                    <p >I also work on CI/CD pipelines, ensuring smooth, automated processes for integrating code changes
                        and deploying them to production.
                        By setting up efficient workflows, I help teams reduce manual intervention and increase the
                        speed and reliability of code delivery.</p>
                </div>
                <div class="w-full bg-red-100 p-4 rounded-md">
                    <h4 class="font-semibold">Project Documentation & Collaboration</h4>
                    <p class="text-xs mt-3">I also excel at creating and maintaining documentation, ensuring that projects are
                        well-documented for future reference and collaboration.
                        Whether it's technical details for developers or guides for stakeholders,
                        I prioritize clarity and structure to make sure that all information is easily accessible.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="h-full">
    <div class="h-full" *ngIf="!showMore">
        <img class="float-end z-0 w-[73rem] h-[64rem]" src="assets/images/1.svg">

        <div class="clear-left h-full flex  items-center relative p-8">
            <div class="space-y-5 flex flex-col">
                <h1 class="text-6xl"> Nomfundo Phororo </h1>
                <p class="text-lg">
                    Hello there! I'm Nomfundo, a passionate Frontend Web Developer and UI/UX Enthusiast, bringing ideas
                    to
                    life
                    through the fusion of design and technology. With a strong commitment to my craft, I strive to
                    create
                    beautiful,
                    user-friendly interfaces that resonate with users.
                    I'm a hardworking and self-motivated professional with excellent research and communication skills.
                </p>
                <button (click)="showMore = true"
                    class="bg-white rounded-full p-4 flex items-center justify-center absolute bottom-20 text-black group transition-colors duration-300 ease-in-out w-16 hover:w-fit hover:pl-6"><span
                        class="duration-300 transform translate-x-12 group-hover:translate-x-0 opacity-0 group-hover:opacity-100 ease-linear ">
                        Read more</span><img
                        class="w-4 h-5 duration-300 transform -translate-x-5 group-hover:translate-x-0 opacity-100 group-hover:opacity-0 ease-in-out"
                        src="assets/images/arrow-black.svg"></button>
            </div>
        </div>
    </div>
    <div *ngIf="showMore" class="pt-24 px-8 ">
        <section class="container mx-auto ">
            <div class="grid lg:grid-cols-2  gap-y-16 lg:px-8 mx-auto py-14 justify-items-center text-black">
                <div
                    class="w-full max-w-md rounded-lg shadow-xl hover:shadow-xl ease-in-out duration-200 bg-blue-grey-light cursor-pointer bg-[#8470FF] group h-[17rem]">
                    <img class="group-hover:translate-x-0 block group-hover:hidden rounded-lg h-52 w-[439px] ease-in-out duration-200" src="assets/images/dev-3D.svg"
                        alt="product image"/>
                    <div class="px-5 py-2.5 bg-[#f8f8ff] rounded-b-lg duration-200 ease-in-out group-hover:h-full hover:rounded-t-lg relative">
                        <h5 class="text-xl font-semibold tracking-tight h-14 pl-2.5 flex items-center">Frontend
                            Development</h5>
                        <p class="text-xs mt-3 hidden group-hover:block z-50">
                            I work on the frontend development side, turning designs into functional,
                            high-performance interfaces.
                            I collaborate closely with designers and UX specialists to ensure that every detail—from
                            layout
                            to interactions—is implemented seamlessly and with precision. Develop reusable components and front-end libraries for future use.
                        </p>
                    </div>
                </div>
                <div
                    class="w-full max-w-md rounded-lg shadow-lg hover:shadow-xl ease-in-out duration-200 bg-blue-grey-light cursor-pointer bg-[#CCB4FF] hover:first:hidden group h-[17rem]">
                    <img class="group-hover:translate-x-0 block group-hover:hidden rounded-lg h-52 w-[439px] ease-in-out duration-200" src="assets/images/Ux-3D.svg" alt="product image" />
                    <div class="px-5 py-2.5 bg-[#f8f8ff] rounded-b-lg group-hover:h-full hover:rounded-t-lg">
                        <h5 class="text-xl font-semibold tracking-tight h-14 pl-2.5 flex items-center ">UX Researcher
                        </h5>
                        <p class="text-xs mt-3 hidden group-hover:block">
                            As a UX Designer, I focus on creating intuitive and user-centered digital experiences that
                            combine functionality with aesthetics.
                            From initial research and usability testing, I ensure that every design decision is informed
                            by the needs and behaviors of real users.</p>
                    </div>
                </div>
                <div
                    class="w-full max-w-md rounded-lg shadow-lg hover:shadow-xl ease-in-out duration-200 bg-blue-grey-light cursor-pointer bg-[#70B2FF]">
                    <img class=" rounded-lg h-52 w-[439px]" src="assets/images/ci-cd-3D.svg" alt="product image"
                        height="202" width="439" />
                    <div class="px-5 py-2.5 bg-[#f8f8ff] rounded-b-lg">
                        <h5 class="text-xl font-semibold tracking-tight h-14 pl-2.5 flex items-center">Enhancing
                            Development with CI/CD</h5>
                    </div>
                </div>
                <div
                    class="w-full max-w-md rounded-lg shadow-lg hover:shadow-xl ease-in-out duration-200 bg-blue-grey-light cursor-pointer bg-[#3b3c3c]">
                    <img class=" rounded-lg h-52 w-[439px]" src="assets/images/1.svg" alt="product image" height="202"
                        width="439" />
                    <div class="px-5 py-2.5 bg-[#f8f8ff] rounded-b-lg">
                        <h5 class="text-xl font-semibold tracking-tight h-14 pl-2.5 flex items-center">Project
                            Documentation & Collaboration</h5>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> -->


<!-- white collaborate <div class="w-1/2 bg-[#f8f8ff] p-4 rounded-md"></div> -->


<div class="mt-20">

    <section class="flex lg:flex-row  flex-col-reverse items-center w-full justify-between container mx-auto">
        <div class="mt-20">
            <h1 class="text-5xl leading-[4rem] align-top"><span class="text-xl -mb-8 pl-1">Hello, my name is</span>
                <br><span class="font-bold text-[2.8rem] mb-8">Nomfundo
                    Phororo.</span> <br>
                <span class="title-stroke text-white">I'm a </span>
                <span class="font-bold">Frontend</span> <span class="title-stroke text-white">
                    Developer</span> <br> based in <span class="font-bold">Gauteng</span>
            </h1>
            <p class="text-zinc-500 text-sm">Results-driven Frontend Developer with expertise in Angular, React, and
                Svelte. Passionate about creating scalable, high-performance web applications and optimizing UI/UX. A
                problem-solver who thrives in fast-paced environments, continuously improving skills and staying updated
                with industry trends.
            </p>
            <div class="mt-10 flex gap-5">
                <img class="w-8 my-auto" src="assets/images/linkedin.svg">
                <img class="w-7 my-auto" src="assets/images/email.svg">
                <img class="w-7 my-auto" src="assets/images/github.svg">
            </div>
        </div>
        <img class="float-end lg:block hidden" src="assets/images/Banner.svg">
        <img class="float-end lg:hidden block w-[20rem]" src="assets/images/Banner.svg">
    </section>

    <section class="bg-black text-white mt-20 py-20">
        <h1 class="text-3xl leading-[5rem] items-center gap-2 justify-start container mx-auto"><span class="subtitle-stroke-white text-white text-xl">01.</span>
            My<span class="font-bold"> Experience</span></h1>
        <div class="p-4 gap-4 grid grid-cols-2 container mx-auto">
            <div class="border-2 border-zinc-500 rounded-md p-4 flex flex-col h-fit"
                *ngFor="let item of workExperience  | slice:0: showMore">
                <div class="flex py-5 px-4 gap-5 items-center w-full ">
                    <img class="float-end w-9 h-9 mx-auto" [src]="'assets/images/'+item.imageName">
                    <h4 class="grow text-white">{{item.title +' | ' + item.company}}</h4>
                </div>
                <p class="text-zinc-400 text-sm px-4 pb-6">{{item.responsibilities}}</p>
                <a class="self-end text-zinc-300 text-xs bg-">{{item.duration}}</a>
            </div>
        </div>
        <div class=" flex flex-col justify-center w-full mt-8" *ngIf="showMore !== workExperience.length">
            <img class="float-end w-11 h-11 mx-auto rounded-full border-2 animate-bounce border-white"
                [src]="'assets/images/down_icon.svg'">
            <button class="underline py-4 px-6 rounded-md" (click)="showMore = workExperience.length">See More</button>
        </div>
    </section>
    <section class="my-8 flex gap-20 container mx-auto">
        <img class="float-left h-96 mr-4" [src]="'assets/images/about-me.svg'">

<div>
    <h1 class="text-3xl leading-none mb-2 text-start"> <span class="subtitle-stroke text-white text-xl">02.</span> About<span class="font-bold"> Me</span></h1>
    <p class="text-zinc-400 text-sm ">I am currently working as a <span class="text-black">Frontend Developer</span> with a background in BCom Information Systems from
        the University of Johannesburg.
        I specialize in Angular, React, TypeScript, and Node.js, with a strong focus on building scalable,
        high-performance<span class="text-black"> web applications</span> that enhance user experience and maintainability.
        I have worked on various projects, including developing internal frontend libraries at BMW Group FG and
        creating functional, reusable components at Quintessence.
        <br> <br>
        My experience also includes participating in high-impact hackathons, such as the 2019 NDP2030 <span class="text-black">GovTech SITA
            Hackathon</span> (1st Place, R100,000 Prize) and the 2018 <span class="text-black">DPSA Hackathon</span> (2nd Place, R30,000 Prize), where my team
        and I developed innovative digital solutions to real-world challenges.
        <br> <br>
        Beyond coding, I am passionate about <span class="text-black">leadership</span>, and <span class="text-black">innovation</span>. I have served as Head Mentor at
        UJ’s Ndlovukazi Ladies’ Residence, where I guided and supported first-year students in their transition to
        university life. Additionally, I have led multiple software projects and engaged in discussions on
        technology, digital transformation, and the Fourth Industrial Revolution.
        <br> <br>
        I am always eager to learn, collaborate, and build impactful digital solutions that push the boundaries of
        technology. Feel free to explore my portfolio and projects to see my work in action!
    </p>
</div>

    </section>
    <section class="flex flex-col  mb-20 container mx-auto lg:-mt-14">
        <h1 class="text-3xl leading-[5rem] flex items-center gap-2"><span class="subtitle-stroke text-white text-xl">03.</span> My<span class="font-bold"> Skills</span></h1>

        <div class="skills-container">
            <div class="skill-category" *ngFor="let category of skillCategories">
                <h3>{{ category.title }}</h3>
                <ul>
                    <li *ngFor="let skill of category.skills"><span class="text-xl">▹</span>{{ skill }}</li>
                </ul>
            </div>
        </div>

    </section>
    <section class="bg-black text-white py-20 ">
        <h1 class="text-3xl leading-[5rem] flex items-center gap-2 mb-10 container mx-auto"><span class="subtitle-stroke-white text-white text-xl">04.</span>My<span class="font-bold"> Projects</span>
        </h1>
        <div class="grid grid-cols-3 gap-y-5 gap-x-10 container mx-auto">
        <div class="border border-white rounded flex flex-col gap-3 p-2 hover:scale-105 duration-100 ease-linear" *ngFor="let project of projects">
            <div class="flex justify-between"><img class="float-left h-10 w-10" [src]="'assets/images/folder.svg'">
                <a [href]="project.link"><img class="w-4 bg-slate-500 rounded-md justify-self-start mt-2"
                    src="assets/images/link-icon.svg"></a></div>
                    <h4 class="text-xl">
                        {{project.title}}
                    </h4>
                    <p class="text-xs text-zinc-400">{{project.description}}</p>
                    <div class="flex gap-3 flex-wrap justify-self-end">
                        @for(tech of project.technologies;track $index){
                            <p class="px-2 bg-white/50 h-fit rounded">{{tech}}</p>
                        }
                    </div>
        </div>
        </div>
    </section>
    <div class="py-10 container mx-auto  flex flex-col  justify-center items-center gap-4 text-center my-20 ">

        <h1 class="lg:text-6xl lg:leading-[4rem] text-4xl leading-8 font-extrabold">Let's <span
                class="title-stroke text-white font-normal">talk</span><span class="font-extrabold"> for</span><br>
            Something special</h1>
        <p class="text-base text-zinc-500 h-fit">I seek to push the limits of creativity to create high-engaging,
            user-friendly, and memorable interactive experiences.</p>
        <div class="lg:text-2xl text-lg  w-full font-bold break-words">
            <h3>precious.phororo&#64;gmail.com</h3>
            <h3>(076) 5454 615</h3>
        </div>
        <button href="mailto:precious.phroro@gmail.com" rel="noopener noreferrer" target="_blank"
            class="bg-black rounded-md px-6 text-white py-2.5 flex text-xs lg:w-fit w-full mb-4 justify-center">Get In
            Touch</button>



    </div>
</div>